*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    background-color: #ccc;

}

@media (max-width: 768px) {
    body {
    padding: 0;
    margin-left: 0;
    }
  }

  a.custom-link {
    color: #28a745; /* Verde */
    text-decoration: none;
    font-weight: bold;
  }
  
  a.custom-link:hover {
    color: #218838; /* Verde escuro para hover */
    text-decoration: underline;
  }

  /* Oculta a atribuição do OpenStreetMap */
.leaflet-control-attribution {
    display: none !important;
  }
  